<ion-header style="height: 55px !important;">
<ion-toolbar style="height: 55px !important;">
    <div id="header" class="header-logo header-dark {{classParentLateralMenu}}">
        <a href="javascript:void(0)" (click)="dismissModal()"><img src="assets/images/back.svg"></a>        
        <a href="javascript:void(0)" class="logo"  style="width: 80%;">{{d.nombre}}</a>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>	
		<div id="page-content-scroll"><!--Enables this element to be scrolled -->
			
			<div class="article-card article-full full-bottom">
				<div class="article-header">
					<span class="article-overlay"></span>
					<span class="article-image preload-image" [ngStyle]="{'background':'url('+d.foto+')','background-size':'cover'}"></span>
					<span class="article-category color-white bg-blue-dark uppercase">{{d.etiqueta}}</span>									
				</div>
			</div>
			
			<div class="content reading-time-box reading-words">
				<h5 class="small-bottom ultrabold">{{d.nombre}}</h5>
				<h5 *ngIf="d.fecha_format" class="color-gray-dark font-10 half-bottom">
					Horario: 
					<span class="color-blue-dark"></span> {{d.fecha_format}}
					<span class="article-category color-white {{coloresbg[d.color_pulsera-1]}} uppercase">Color de pulsera: {{colores[d.color_pulsera-1]}}</span>
				</h5>
				<h5 *ngIf="d.dj" class="color-gray-dark font-10 half-bottom">
					DJ: 
					<span class="color-blue-dark"></span> {{d.dj.nombre}}					
				</h5>
				<p [innerHTML]="d.descripcion"></p>				
				<div class="decoration"></div>
				<h5 class="bold">{{d.titulo_foto_horizontal}}</h5>
				<p class="full-bottom">	
					{{d.descripcion_foto_horizontal}}
				</p>

				<div class="gallery">
					<a href="javascript:void(0)" class="show-gallery polaroid-effect full-bottom" title="Beautiful Camera">
						<img src="{{d.foto_horizontal}}" class="preload-image responsive-image no-bottom" alt="img">
						<p class="no-bottom center-text">{{d.comentario_foto}}</p>
					</a>
				</div>
				<div class="decoration half-top"></div>
						
				<div class="profile-gallery">
					<a *ngFor="let i of d.fotos" class="show-gallery" href="javascript:void(0)" alt="img">
						<img (click)="zoom(i)" class="preload-image responsive-image polaroid-effect polaroid-effect-small" src="{{i}}">
					</a>
					<div class="clear"></div>
				</div>	
				<div class="clear"></div>
				<div class="decoration"></div>
				<h5 class="bold">Información importante</h5>
				<p [innerHTML]="d.informacion_importante"></p>
				<img src="{{d.mapa}}" alt="" (click)="zoom(d.mapa)">
			</div>
					
			
			
		</div>  
	</div>

</ion-content>
