<ion-header style="height: 55px !important;">
  <ion-toolbar style="height: 55px !important;">
    <div id="header" class="header-logo header-dark {{classParentLateralMenu}}">
        <a href="javascript:void(0)" (click)="dismissModal()"><img src="assets/images/back.svg"></a>        
        <a href="javascript:void(0)" class="logo"  style="width: 80%;">PROGRAMA DETALLES</a>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>	
	<div id="page-content-scroll"><!--Enables this element to be scrolled -->
		<div class="article-card article-full full-bottom">
				<div class="article-header">
					<span class="article-overlay"></span>
					<span class="article-image preload-image" data-src-retina="assets/images/pictures/6.jpg" src="assets/images/pictures/6lq.jpg"></span>
					<span class="article-category color-white bg-blue-dark uppercase">Noche de fiesta</span>
					<span class="article-author color-gray-light"><i class="fa fa-user opacity-50"></i>50 amigos asistirán</span>
					<span class="article-time color-gray-light">05 Julio 2019<i class="far fa-clock opacity-50"></i></span>
				</div>
			</div>
			
			<div class="content reading-time-box reading-words">
				<h5 class="small-bottom ultrabold">White Party! La noche donde el blanco es la estrella!</h5>
				<h5 class="color-gray-dark font-10 half-bottom">Horario: <span class="color-blue-dark"></span> 23h / Regreso: 03:30-05:00h  <span class="article-category color-white bg-blue-dark uppercase">Color de pulsera: AZUL</span></h5>
				<p>Pásatelo en grande en esta fantástica fiesta! Vístete de blanco y brillarás en la noche. La mejor música en el mejor local. Disfruta del blanco!</p>
				
				<div class="decoration"></div>
				<h5 class="bold">White Party</h5>
				<p class="full-bottom">	
					La fiesta que recordarás siempre! Disfruta de la mejor música y brilla.
				</p>		
				<div class="gallery">
				<a href="assets/images/pictures/6.jpg" class="show-gallery polaroid-effect full-bottom" title="Beautiful Camera">
					<img src="assets/images/pictures/6w.jpg" class="preload-image responsive-image no-bottom" alt="img">
					<p class="no-bottom center-text">Hay que vestir de blanco</p>
				</a>
				</div>
				<div class="one-half">
					<h4 class="ultrabold small-bottom"></h4>
					<img src="assets/images/pictures/isolated/1.jpg" class="preload-image responsive-image" alt="img">
					<p>MIF 2018</p>
				</div>
				<div class="one-half last-column">
					<h4 class="ultrabold small-bottom"></h4>
					<img src="assets/images/pictures/isolated/2.jpg" class="preload-image responsive-image" alt="img">
					<p>MIF 2018</p>
				</div>
				<div class="clear"></div>		

				<div class="decoration"></div>

				<div class="one-third">
					<h4 class="ultrabold half-bottom"></h4>
					<img src="assets/images/pictures/isolated/3.jpg" class="preload-image responsive-image" alt="img">
					<p>MIF 2017</p>
				</div>
				<div class="one-third">
					<h4 class="ultrabold half-bottom"></h4>
					<img src="assets/images/pictures/isolated/4.jpg" class="preload-image responsive-image" alt="img">
					<p>MIF 2017</p>
				</div>
				<div class="one-third last-column">
					<h4 class="ultrabold half-bottom"></h4>
					<img src="assets/images/pictures/isolated/5.jpg" class="preload-image responsive-image" alt="img">
					<p>MIF 2017</p>
				</div>
				<div class="clear"></div>
				<div class="decoration"></div>
				<h5 class="bold">Información importante</h5>
				<p>Los autobuses de salida y de vuelta son extremadamente puntuales así que recomendamos estar en la cola unos minutos antes.</p>
				<ul class="one-half">
					<li>BUS IDA</li>
					<li>
						<ul>
							<li>Punto de salida <span class="color-blue-dark">aquí</span></li>
							<li>Hora: 23:00h</li>
							
						</ul>
					</li>				
				</ul>
				<ul class="one-half last-column">
					<li>BUS VUELTA</li>
					<li>Hora: 03:30 - 05:00h</li>
				</ul>				
			</div>
			
			
			<div id="mapa" class="page-content no-top">	
				<div id="page-content-scroll"><!--Enables this element to be scrolled --> 	

					<div class="map-full cover-item">
						<iframe class="cover-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1207.1994521841652!2d3.110220034049376!3d39.82952155156366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12962cc508bfabd9%3A0x38c51cd12846d137!2sBelleVue+Club!5e0!3m2!1ses!2ses!4v1550233259525"></iframe>				
						
						
					</div>
					
				</div>  
			</div>
	</div>			
  </div>
</ion-content>