<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
<div id="page-content" class="page-content {{main.classLateralContent}}">		
		<div id="page-content-scroll"><!--Enables this element to be scrolled --> 			
				
			<div class="coverpage">
				<div class="cover-slider">
								
					<div class="cover-item" style="background-image:url(assets/images/pictures_vertical/bg2.jpg);">
						<div class="cover-content cover-content-center cover-content-center-full">
							<h1 class="center-text"><img class="article-image preload-image" src="assets/images/03.svg" data-src="assets/images/04.svg" alt="img" style="display: inline-block;width: 100px;"></h1>
							<h1 class="color-white center-text uppercase ultrabold full-top fa-2x">Qué incluye?</h1>
							<p class="color-white boxed-text center-text opacity-70 full-bottom">Con la pulsera MIF tendrás acceso a varias actividades y te da derechos en tu viaje.</p>							
						</div>
						<div class="cover-overlay overlay bg-black opacity-70"></div>
					</div>		
					
				</div>
			</div>		
			<div class="decoration decoration-margins"></div>			
			<div class="content full-top full-bottom">
				<div class="icon-column">
					<i class="fa fa-code color-blue-dark"></i>
					<h1 class="uppercase ultrabold">TRANSPORTE IDA Y VUELTA</h1>
					<p>
						Viaje en barco, Fiesta bienvenida en medio del mar, Transporte de equipaje ilimitado sin restricciones de peso ni volumen, Mejor acomodación disponible.
					</p>
				</div>
				<div class="icon-column">
					<i class="fa fa-star color-yellow-dark"></i>
					<h1 class="uppercase ultrabold">TRASLADOS</h1>
					<p>
						Traslado en autobús del puerto al resort y del resort al puerto.
					</p>
				</div>				
				<div class="icon-column">
					<i class="fa fa-heart color-red-dark"></i>
					<h1 class="uppercase ultrabold">ALOJAMIENTO</h1>
					<p>
						Alojamiento en en resort en disctribución múltiple en régimen de pensión completa + bebida.
					</p>
				</div>	
				<div class="icon-column">
					<i class="fa fa-money-bill color-green-dark"></i>
					<h1 class="uppercase ultrabold">SEGUROS</h1>
					<p>
						El seguro que mejor se adapta al colectivo de estudiantes. Asistencia médica y sanitaria en viaje. Seguro estándar.
					</p>
				</div>
			</div>
			<div class="decoration decoration-margins"></div>
			 
			<div class="content-strip">
				<div class="container">
					<h2 class="bold uppercase color-white center-text">Muchas actividades a tu alcance</h2>
					<p class="small-text color-white opacity-50 center-text half-bottom">Apúntate y disfruta!</p>
					<p class="boxed-text no-bottom color-white opacity-80">
						Paintball, torneos de volley playa, Pool Sports, 1 hora de pistas de tenis, fútbol, pádel y minigolf, _Crazy Games....
					</p>
					<a href="javascript:void(0)" class="button button-ghost border-gray-light button-rounded button-center full-top button-s uppercase bold">Reservar</a>
				</div>
				<div class="overlay bg-black opacity-70"></div>
				<div class="content-strip-bg preload-image" style="background:url(assets/images/pictures/1.jpg); background-size:cover;"></div>
			</div>

			<div class="decoration decoration-margins"></div>	
			
			
			<div class="content-strip">
				<div class="container">
					<h2 class="ultrabold uppercase color-white center-text">Teléfonos de interés</h2>
					<p class="small-text color-gray-light center-text full-bottom">Recuerda que con tu pase de MIF tienes un seguro que te protege</p>
				</div>
				<div class="decoration deco-3 opacity-60 decoration-margins"></div>
				<div class="double-slider owl-carousel owl-no-dots">
					<div>
						<p class="center-text color-white half-bottom"><i class="fa fa-code fa-2x"></i></p>
						<h5 class="center-text uppercase ultrabold color-white">Teléfono Resort</h5>
						<p class="center-text small-text">
							954 77 88 99
						</p>
					</div>		
					<div>
						<p class="center-text color-white half-bottom"><i class="fa fa-info fa-2x"></i></p>
						<h5 class="center-text uppercase ultrabold color-white">Emergéncias</h5>
						<p class="center-text small-text">
							112
						</p>
					</div>					
					<div>
						<p class="center-text color-white half-bottom"><i class="fa fa-cog fa-2x"></i></p>
						<h5 class="center-text uppercase ultrabold color-white">Finalia Viajes</h5>
						<p class="center-text small-text">
							93 804 11 11
						</p>
					</div>			
					<div>
						<p class="center-text color-white half-bottom"><i class="fa fa-life-ring fa-2x"></i></p>
						<h5 class="center-text uppercase ultrabold color-white">Monitores</h5>
						<p class="center-text small-text">
							600112233
						</p>
					</div>					
		
				</div>
				<div class="decoration deco-3 opacity-60 decoration-margins half-bottom"></div>
				<p class="center-text small-text color-white container no-bottom opacity-50 italic"></p>
				<div class="overlay overlay-dark"></div>
				<div class="content-strip-bg preload-image" style="background:url(assets/images/pictures/1s.jpg); background-size:cover;"></div>
			</div>
			<div class="decoration decoration-margins"></div>
		</div>  
	</div>
</ion-content>