<div class="{{classParentHeader}}" style="height:100vh">
      <div id="header" class="header-logo header-dark {{classParentLateralMenu}}">
        <a href="javascript:history.back()" class="back-button"><img src="assets/images/back.svg"></a>
        <a (click)="go('home')"><img src="assets/images/gleam.svg"></a>
        <a href="javascript:void(0)" class="logo" [innerHTML]="label"></a>
        <a (click)="go('perfil')" class="perfilFotoTop" [ngStyle]="{'background':'url('+user.user.foto+')','background-size':'cover'}">
          
        </a>
        <a class="deploy-perspective-right" (click)="toggleLateralMenu()" style=" margin-left: 9px;">
          <img src="assets/images/more.svg" style="transform:rotate(-90deg);">
        </a>
      </div>
      <div class="subheader {{classSubHeader}}">        
        <div class="botones">
          <a (click)="go('pulsera')" class="{{activePage=='pulsera'?'activado':''}}"><img src="assets/images/pulsera{{activePage=='pulsera'?'-dark':''}}.svg"> <span>Pulsera</span></a>
          <a (click)="go('lineup')" class="{{activePage=='lineup'?'activado':''}}"><img src="assets/images/{{activePage=='lineup'?'line-up-dark':'lineup'}}.svg"> <span>Line Up</span></a>
          <a (click)="go('influencers')" class="{{activePage=='influencers'?'activado':''}}"><img src="assets/images/influencers{{activePage=='influencers'?'-dark':''}}.svg"> <span>Influencers</span></a>
          <a (click)="go('redes')" class="{{activePage=='redes'?'activado':''}}"><img src="assets/images/media{{activePage=='redes'?'-dark':''}}.svg"> <span>Redes</span></a>
          <a (click)="go('media')" class="{{activePage=='media'?'activado':''}}"><img src="assets/images/camera{{activePage=='media'?'-dark':''}}.svg"> <span>Media</span></a>
        </div>
        <div class="accordionToggle">
          <a href="javascript:void(0)" (click)="toggleSubmenu()">
            <i class="fas fa-chevron-up"></i>
          </a>              
        </div>
      </div>
      <div id="tabs" class="tabs-footer">
        <a (click)="mapa()"><img src="assets/images/mapa{{activePage=='mapa'?'-dark':''}}.svg"> <span>Mapa</span></a>
        <a (click)="go('actividades')" class="{{activePage=='actividades'?'activado':''}}"><img src="assets/images/actividades{{activePage=='actividades'?'-dark':''}}.svg"> <span>Actividades</span></a>
        <a (click)="go('consejos')" class="{{activePage=='consejos'?'activado':''}}">
              <span ui-sref="home" ui-sref-opts="{reload: true}" *ngIf="newNotif>0" class="notifNew">{{newNotif}}</span>
              <img src="assets/images/mono{{activePage=='consejos'?'-dark':''}}.svg">
              <span>Consejos</span>
            </a>
        <a (click)="go('tienda')" class="{{activePage=='tienda'?'activado':''}}"><img src="assets/images/tienda{{activePage=='tienda'?'-dark':''}}.svg"> <span>Carpa MIF</span></a>
        <a (click)="go('programa')" class="{{activePage=='programa'?'activado':''}}">
          <span ui-sref="home" ui-sref-opts="{reload: true}" *ngIf="newNotif2>0" class="notifNew">{{newNotif2}}</span>
          <img src="assets/images/programa{{activePage=='programa'?'-dark':''}}.svg"> 
          <span>Programa</span>
        </a>
      </div>

      
      <div id="menu-12" class="menu-wrapper menu-perspective menu-sidebar-right activate-page {{classLateralMenu}}" style="display: block;">
        <div class="menu-scroll">
          
          <div class="menu">
            <em class="menu-divider">Zona Usuario<i class="fa fa-share-alt"></i></em>
            <a class="menu-item active-item" (click)="go('perfil')"><i class="font-15 fa color-blue-dark fas fa-user-circle"></i><strong>Perfil</strong><i class="fa fa-circle"></i></a>
            <a class="menu-item close-menu" (click)="logout()"><i class="font-14 fa color-orange-dark fa-times"></i><strong>Cerrar Sesión</strong><i class="fa fa-circle"></i></a>
            <em class="menu-divider">Mif Info<i class="fa fa-bars"></i></em>
            <a class="menu-item" (click)="go('pulsera')"><i class="font-15 fa color-yellow-dark fas fa-info-circle"></i><strong>Pulsera</strong><i class="fa fa-circle"></i></a>
            <a class="menu-item" (click)="go('faqs')"><i class="font-15 fa color-night-light fa-question"></i><strong>FAQ's</strong><i class="fa fa-circle"></i></a>
            <a class="menu-item active-item" (click)="go('consejos')"><i class="font-15 fa color-blue-dark fas fa-hands-helping"></i><strong>Consejos</strong><i class="fa fa-circle"></i></a>            
            <div id="sub-1p" class="submenu-item" style="transition: all 300ms ease;">
            <a href="tel:+1 234 567 890"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>Central<i class="fa fa-circle"></i></a>
            <a href="tel:+2 234 567 890"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>Seguro<i class="fa fa-circle"></i></a>
            <a href="tel:+3 234 567 890"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>Organización<i class="fa fa-circle"></i></a>
            </div>
            <em class="menu-divider">Redes Sociales<i class="fa fa-share-alt"></i></em>
            <a class="menu-item" href="https://facebook.com/mallorcaislandfestival" target="_blank"><i class="font-17 fab facebook-color fa-facebook-square"></i><strong>Facebook</strong><i class="fa fa-circle"></i></a>
            <a class="menu-item" href="https://www.instagram.com/mallorca_island_festival/" target="_blank"><i class="font-17 fab twitter-color fa-instagram"></i><strong>Instagram</strong><i class="fa fa-circle"></i></a>
            <a class="menu-item no-border" href="https://www.youtube.com/channel/UCIp1ihBnekNPNIbNQ_9PG4A" target="_blank"><i class="font-17 fab google-color fa-youtube-square"></i><strong>YouTube</strong><i class="fa fa-circle"></i></a>
            <a class="menu-item no-border" href="https://www.soundcloud.com/finalia" target="_blank"><i class="font-17 fab google-color fa-soundcloud"></i><strong>Soundcloud</strong><i class="fa fa-circle"></i></a>
          </div>
        </div>
      </div>
      
      <ion-router-outlet main></ion-router-outlet>
      
    </div>